// Here you can add other styles
// Sub Menu
h1 {
    color: darkblue;
    text-align: center;
    padding-bottom: 1.5rem;
  }
  .user-reg label {
    width: 10rem;
    text-align: end;
    vertical-align: top;
    padding-right: 2rem;
    padding-bottom: 1rem;
  }
  
  .user-reg input {
    width: 20rem;
    padding: 0.5rem;
  }
  .user-reg textarea {
    width: 20rem;
  }
  .profileList {
    display: flex;
  }
  .user-profile ul li {
    width: 5rem;
    list-style: none;
    padding-bottom: 1.5rem;
    text-align: start;
    vertical-align: top;
  }
  .userProfileDisplay  ul li {
    width: 10rem;
    list-style: none;
    padding-bottom: 1.5rem;
    text-align: start !important;
    vertical-align: top;
  }

  
  //Sub Menu 1
//   input {
//     padding: 0.5rem;
//     margin-right: 1rem;
//     font-size: 1rem;
//     width: 7rem;
// }
// button {
//     width: 4rem;
//     height: 3rem;
//     font-size: 1.4rem;
//     margin-right: 1rem;
//     border: 1px solid green;
//     color: green;
//     border-radius: 1rem;
//     box-shadow: 3px 5px #888888;
// }
// button:hover {
//     background-color: aqua;
//     box-shadow: 3px 5px #bbbbbb;
    
// }
// .opsign {
//     width: 4rem;
// }
// .Subs {
//     margin-top: 2rem;
// }
// label {
//     padding-left: 1rem;
//     padding-right: 1rem;
//     font-size: 1.5rem;
// }

.input-container {
  padding-left: 1.5rem;
}
.input-container label {
  padding-left: 0.5rem;
}

.btn-add {
    margin: 4rem auto;
    width: 10rem;
    height: 3rem;
}
.btn-add {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 0.3s;
}
@keyframes identifier {
  
}
.add-btn-css {
    text-align: center;
    border: none;
    color: white;
    background-color: #3C4B64;
    width: 10rem;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 1.5rem;
}
.add-btn-css:focus {
    outline: none;
}
.add-btn-css:hover {
  background-color: grey;
  transform: translateY(-5px);
}
.input {
    padding: 0.3rem;
    width: 15rem;
    border: none !important;
    background-color: whitesmoke;
    border-top: 1px solid grey !important;
    border-left: 1px solid grey !important;
    box-shadow: 3px 3px grey;
    border-radius: 0.5rem;
}
.input:focus {
    background-color: #dbdddf;
    outline: none;
    border-radius: 0.5rem;
}
.table-style{
    width: 100%;
}
.table-style th, .table-style td{
    line-height: 1.5rem;
    width: 10rem;
    text-align: center;
    vertical-align: center;
}



.select-box {
  padding-bottom: 2rem;
}
.search-btn {
  border: none;
  width: 5rem;
  background-color: grey;
  color: white;
}
.search-btn:hover {
  background-color: peru;
  transform: translateY(-3px);
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  color: white;
}

.info {
  width: 20rem;
  margin: 0 auto;
}
.displayInfo {
  width: 20rem;
}
.rest-btn-div {
  width: 20rem;
  margin: 1rem auto;
  text-align: center;

}
.btn-reset {
  margin: 0 auto;
  border: none;
  border-radius: 2rem;
  width: 10rem;
  height: 2.5rem;
  background-color: grey;
  color: white;
}

.btn-reset:hover {
  background-color: peru;
  transform: translateY(-3px);
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  color: white;
}
