/* input {
    padding: 0.5rem;
    margin-right: 1rem;
    font-size: 1rem;
    width: 7rem;
}
button {
    width: 4rem;
    height: 3rem;
    font-size: 1.4rem;
    margin-right: 1rem;
    border: 1px solid green;
    color: green;
    border-radius: 1rem;
    box-shadow: 3px 5px #888888;
}
button:hover {
    background-color: aqua;
    box-shadow: 3px 5px #bbbbbb;
    
}
.opsign {
    width: 4rem;
}
.Subs {
    margin-top: 2rem;
}
label {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
} */